.nav {
    text-decoration: none;
    color:red;
    margin-left: 50px;
}

.nav:hover {
    font-size: 20px;
}

.text-share {
    color:red;
    font-weight: bold;
    font-size:35px;
}

.share {
    width:30px;
}

.fix {
    position:fixed;
    right: 20px;
}
.share-li {
        display:inline-block;
        list-style-type: none;
        padding-left:10px;
}

.father-div {
    background-color:lightgray;
    position:relative;
    width: 500px;
    height: 50px;
    margin-top:20px;
    padding-top:10px;
}

.son-div {
    background-color: black;
    color:white;
    font-size:15px;
    font-weight: bold;
    position:absolute;
    top: -6px;
    left: 12px;
}

.link {
    text-decoration: none;
    color:darkslategrey
}

.figcaption {
    display:inline-block;
    list-style-type: none;
}

.webs {
    display:inline-block;
    margin-top:20px;
    padding:10px;
}

.image {
    width:50px; 
    height:50px; 
}

.aside {
    display:inline-block;
    margin-top:20px;
    padding:10px;
}